<!--Main Navigation-->
<header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#"><img src="/images/logo/logo-transparent-text.png" width="128"
                    alt="BfL"></img></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bewerberliste">Bewerberliste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wir-denken">Wir&nbsp;denken:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gesundheit">Gesundheit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#umwelt">Umwelt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#erreichbarkeit">Erreichbarkeit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mobilitaet">Mobilität</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#buergerwille">Bürgerwille</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#termine">Termine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bfler">BfL'er&nbsp;werden</a>
                    </li>
                </ul>
                <!-- Links -->

                <!-- Social Icon  -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->

        </div>

    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div id="intro" class="view">

        <div class="mask rgba-orange-light">

            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">

                    <div class="col-md-10">

                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Dem Bürger eine Stimme geben!</h2>

                        <!-- Divider -->
                        <hr class="hr-light">

                        <!-- Description -->
                        <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Deleniti
                            consequuntur.</h4>
                        <button type="button" class="btn btn-outline-white">Read more<i
                                class="fa fa-book ml-2"></i></button>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!--/.Mask-->

</header>
<!--Main Navigation-->