 <!-- jQuery -->
 <script type="text/javascript" src="/js/mdb/jquery.min.js"></script>
 <!-- Bootstrap tooltips -->
 <script type="text/javascript" src="/js/mdb/popper.min.js"></script>
 <!-- Bootstrap core JavaScript -->
 <script type="text/javascript" src="/js/mdb/bootstrap.min.js"></script>
 <!-- MDB core JavaScript -->
 <script type="text/javascript" src="/js/mdb/mdb.min.js"></script>
 <!-- Your custom scripts (optional) -->
 <script type="text/javascript"></script>