{{ define "main" }}
<!--Main layout-->
<main class="mt-5">
  <div class="container">

    <!--Section: Bewerberliste -->
    <section id="bewerberliste" class="text-center">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold">Bewerberliste</h2>

      <!--Carousel Wrapper-->
      <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100" src="images/01-Burkhard-Neumann.png"
                alt="First slide">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Light mask</h3>
              <p>First text</p>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100" src="images/02-Detlef-Kuhn.png"
                alt="Second slide">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Strong mask</h3>
              <p>Secondary text</p>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100" src="images/03-Karin-Lorenz.png"
                alt="Third slide">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Slight mask</h3>
              <p>Third text</p>
            </div>
          </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->
    </section>
    <!--Section: Bewerberliste -->

    <hr class="my-5">

    <!--Section: Wir denken ... -->
    <section id="wir-denken" class="text-center">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold">Unsere Kerngedanken</h2>

      <!--Grid row-->
      <div class="row d-flex justify-content-center mb-4">

        <!--Grid column-->
        <div class="col-md-8">

          <!-- Description -->
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
            hic provident nulla repellat facere esse molestiae ipsa labore porro minima quam quaerat rem,
            natus repudiandae debitis est sit pariatur.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-5">
          <i class="fa fa-briefcase-medical fa-4x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Gesundheit</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-1">
          <i class="fa fa-tree fa-4x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Umwelt</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-1">
          <i class="fa fa-wheelchair fa-4x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Erreichbarkeit</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-5">
          <i class="fa fa-truck-monster fa-4x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Mobilität</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-1">
          <i class="fa fa-user-friends fa-4x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Bürgerwille</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Wir denken ... -->

    <hr class="my-5">

    <!--Section: Gesundheit-->
    <section id="gesundheit" class="text-center">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold">Wir denken Gesundheit</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Prevention</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Gesundheitserziehung</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/29.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Therapie</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Gesundheit-->

    <hr class="my-5">

    <!--Section: Umwelt-->
    <section id="umwelt" class="text-center">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold">Wir denken Umwelt</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Gesundes Land gesundes Volk</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Umwelterziehung</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/29.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Wiederherstellung</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Gesundheit-->

    <hr class="my-5">
    <!--Section: Gallery-->
    <section id="gallery">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold text-center">Blog</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner z-depth-1-half" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg"
                  alt="First slide">
              </div>
              <!--/First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg"
                  alt="Second slide">
              </div>
              <!--/Second slide-->
              <!--Third slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
                  alt="Third slide">
              </div>
              <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>
          <!--/.Carousel Wrapper-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6">

          <!--Excerpt-->
          <a href="" class="teal-text">
            <h6 class="pb-1"><i class="fa fa-truck-monster"></i><strong> Mobilität </strong></h6>
          </a>
          <h4 class="mb-3"><strong>Wie wir es machen können</strong></h4>
          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
            quod maxime
            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut
            officiis
            debitis aut rerum.</p>

          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
            quod maxime
            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut
            officiis
            debitis aut rerum.</p>
          <p>Autor <a><strong>Jessica Clark</strong></a>, 26/08/2016</p>
          <a class="btn btn-primary btn-md">Mehr lesen</a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Gallery-->

    <hr class="my-5">

    <!--Section: Contact-->
    <section id="contact">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold text-center">Kontaktieren Sie uns:</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-md-12">
          <!-- Form contact -->
          <form class="p-5 grey-text">
            <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
              <input type="text" id="form3" class="form-control form-control-sm">
              <label for="form3">Name</label>
            </div>
            <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
              <input type="text" id="form2" class="form-control form-control-sm">
              <label for="form2">Email</label>
            </div>
            <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
              <input type="text" id="form32" class="form-control form-control-sm">
              <label for="form34">Betreff</label>
            </div>
            <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
              <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
              <label for="form8">Nachricht</label>
            </div>
            <div class="text-center mt-4">
              <button class="btn btn-primary">Abschicken <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
          </form>
          <!-- Form contact -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-md-12">

          <!--Grid row-->
          <div class="row text-center">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-3">

              <p><i class="fa fa-map fa-1x mr-2 grey-text"></i>35423 Lich, Hessen</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">

              <p><i class="fa fa-building fa-1x mr-2 grey-text"></i>Mo - Fr, 8:00-22:00</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">

              <p><i class="fa fa-phone fa-1x mr-2 grey-text"></i>+ 01 234 567 89</p>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Google map-->
          <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Contact-->

  </div>
</main>
<!--Main layout-->
{{ end }}