
/*-------------*/
/* Navigation
/*-------------*/
.bfl-one-page-nav-container {
	position: fixed;
	margin-right: 20px;
	right: 0;
	z-index: 999;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.nav-align-top .bfl-one-page-nav-container, .nav-align-bottom .bfl-one-page-nav-container {
	left: 50%;
	right: auto;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.nav-align-top .bfl-one-page-nav-container {
	top: 0;
	margin-top: 20px;
}

.nav-align-bottom .bfl-one-page-nav-container {
	bottom: 0;
	margin-bottom: 20px;
	top: auto;
}

.nav-align-left .bfl-one-page-nav-container {
	left: 0;
	margin-left: 20px;
	right: auto;
}

.bfl-one-page-nav-container .bfl-one-page-nav {
	font-size: 0;
	line-height: 0;
}

.bfl-one-page-nav-container .bfl-one-page-nav,
.bfl-one-page-nav-container .bfl-one-page-nav-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-align-top .bfl-one-page-nav-item,
.nav-align-bottom .bfl-one-page-nav-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.nav-align-top .bfl-one-page-nav-item:last-child,
.nav-align-bottom .bfl-one-page-nav-item:last-child {
	margin-right: 0 !important;
}

.bfl-one-page-nav-item {
	margin-bottom: 10px;
	position: relative;
	line-height: 1;
	text-align: center;
}

.bfl-one-page-nav-item:last-child {
	margin-bottom: 0 !important;
}

.bfl-one-page-nav-item:hover .bfl-nav-dot-tooltip {
	visibility: visible;
	opacity: 1;
}

.bfl-one-page-nav-item a:focus {
	outline: none;
}

.bfl-one-page-nav-item .bfl-nav-dot {
	display: block;
}

.bfl-nav-dot-tooltip {
	color: #000;
	font-size: 14px;
	line-height: 1.3;
	opacity: 0;
	position: absolute;
	width: 200px;
	visibility: hidden;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.bfl-nav-dot-tooltip.bfl-tooltip-arrow:after {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid;
	position: absolute;
	right: -5px;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	content: "";
}

.nav-align-top .bfl-nav-dot-tooltip,
.nav-align-bottom .bfl-nav-dot-tooltip {
	text-align: center;
	left: -95px;
}

.nav-align-top .bfl-nav-dot-tooltip.bfl-tooltip-arrow:after,
.nav-align-bottom .bfl-nav-dot-tooltip.bfl-tooltip-arrow:after {
	border-bottom: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	left: 50%;
	content: "";
	top: -10px;
	transform: translate3d(-50%, 0, 0);
	right: auto;
}

.nav-align-top .bfl-nav-dot-tooltip {
	top: 30px;
	transform: translateY(15px) translateX(0);
	-webkit-transform: translateY(15px) translateX(0);
}

.nav-align-top .bfl-one-page-nav-item:hover .bfl-nav-dot-tooltip {
	transform: translateY(0) translateX(0);
	-webkit-transform: translateY(0) translateX(0);
}

.nav-align-bottom .bfl-nav-dot-tooltip {
	bottom: 30px;
	transform: translateY(-15px) translateX(0);
	-webkit-transform: translateY(-15px) translateX(0);
}

.nav-align-bottom .bfl-nav-dot-tooltip.bfl-tooltip-arrow:after {
	border-top: 5px solid;
	border-bottom: 5px solid transparent;
	bottom: -10px;
	top: auto;
}

.nav-align-bottom .bfl-one-page-nav-item:hover .bfl-nav-dot-tooltip {
	transform: translateY(0) translateX(0);
	-webkit-transform: translateY(0) translateX(0);
}

.nav-align-right .bfl-nav-dot-tooltip {
	right: 40px;
	text-align: right;
	top: 50%;
	transform: translateY(-50%) translateX(-15px);
	-webkit-transform: translateY(-50%) translateX(-15px);
}

.nav-align-right .bfl-one-page-nav-item:hover .bfl-nav-dot-tooltip {
	opacity: 1;
	transform: translateY(-50%) translateX(0);
	-webkit-transform: translateY(-50%) translateX(0);
}

.nav-align-left .bfl-nav-dot-tooltip {
	left: 40px;
	top: 50%;
	text-align: left;
	transform: translateY(-50%) translateX(15px);
	-webkit-transform: translateY(-50%) translateX(15px);
}

.nav-align-left .bfl-nav-dot-tooltip.bfl-tooltip-arrow:after {
	border-right: 5px solid;
	border-left: 5px solid transparent;
	left: -10px;
	right: auto;
}

.nav-align-left .bfl-one-page-nav-item:hover .bfl-nav-dot-tooltip {
	opacity: 1;
	transform: translateY(-50%) translateX(0);
	-webkit-transform: translateY(-50%) translateX(0);
}

.bfl-nav-dot-tooltip-content {
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.bfl-nav-dot {
	color: #000;
	display: block;
	font-size: 10px;
	line-height: 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: color 0.3s ease, border 0.3s ease;
}

.bfl-nav-dot-wrap {
	display: block;
	transition: all 0.3s ease, border 0.3s ease;
}

.admin-bar .nav-align-top .bfl-one-page-nav-container {
	top: 32px;
}