/* ==============================================================

Project: 	Angora - Responsive One Page Parallax Template
Info:		https://themeforest.net/item/angora-responsive-one-page-parallax-template/22836854
Version: 	1.0
Author:		AthenaStudio
Profile:	https://themeforest.net/user/athenastudio

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	General
	2.	Animations
	3.	Loader
	4.	Sections
	5.	Navigation
	6.	Slider
	7.	Intro
	8.	Arrows
	9.	Features
	10.	Clients
	11.	Buttons
	12.	Inputs, Textareas
	13.	Portfolio
	14.	Info box
	15.	Our team
	16.	Contact
	17.	Google maps
	18.	Footer
	19.	Tables
	20.	Images slider
	21.	Blog posts
	22.	Sidebars
	23.	Pagination
	24.	Comment form
	25.	Comments
	26.	Error page
	27.	Share panel
	28.	Progress bars
	29.	Pricing tables
	30.	Counters
	31.	Testimonials
	32.	Services
		
=============================================================*/

/*********************
    - 1. General -
*********************/
html {
	width:100%;
	height:100%;
	overflow-x:hidden;
}

body {
	width:95%;
	height:95%;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	line-height:1.75em;
	color:#666;
	/*
	background:#fff;
	-webkit-font-smoothing:antialiased;
	*/
	background: rgb(242,123,21);
	background: linear-gradient(90deg, rgba(242,123,21,1) 40%, rgba(21,140,242,1) 80%); }

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
	font-family:"Poppins", sans-serif;
	color:#282828;
	font-weight:600;
}

h1, .h1 {font-size:70px; line-height:70px;}
h2, .h2 {font-size:40px; line-height:40px;}
h3, .h3 {font-size:32px; line-height:32px;}
h4, .h4 {font-size:24px; line-height:24px;}
h5, .h5 {font-size:20px; line-height:20px;}
h6, .h6 {font-size:16px; line-height:16px;}

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, 
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
	font-weight:700;
}

hr {
	margin:0;
	border-color:#f1f1f1;
}

a {
	color:#444;
	-webkit-transition:.3s;
	   -moz-transition:.3s;
			transition:.3s;
}

a:hover {
	text-decoration:none;
	outline:0;
}

blockquote {
	font-style:italic;
	margin:20px 0;
}

.text-semibold {
	font-weight:500;
}

.text-light {
	font-weight:300;
}

.text-white {
	color:#fff !important;
}

.img-rounded, .rounded {
	border-radius:3px;
}

.opacity8 {
	opacity:0.8;
}

.opacity9 {
	opacity:0.9;
}

.uppercase {
	text-transform:uppercase;
}

.lowercase {
	text-transform:none;
}

.full-width {
	width:100% !important;
}

.empty-10 {
	clear:both;
	height:10px;
}

.empty-20 {
	clear:both;
	height:20px;
}

.empty-30 {
	clear:both;
	height:30px;
}

.empty-50 {
	clear:both;
	height:50px;
}

.valign {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	   -ms-flex-align:center;
		  align-items:center;
}

p.info {
	font-size:18px;
	color:#999;
}

section.parallax p.info {
	color:#fff;
}

p.info.white {
	margin-bottom:35px;
}

input, input:hover, input:focus, 
button, button:hover, button:focus, 
textarea, textarea:focus, textarea:active {
	outline:0;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}

a:focus, 
a:active, 
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
select::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {
 	border:0;
 	outline:0;
}

::-webkit-input-placeholder {
 	opacity:.8;
 	color:#a6a6a6;
}

::-moz-placeholder {
 	opacity:.8;
 	color:#a6a6a6;
}

::-ms-input-placeholder {
 	opacity:.8;
 	color:#a6a6a6;
}

/************************
    - 2. Animations -
************************/
.csstransitions.csstransforms.no-touch .animation[class*="animation-"] {
	position:relative;
	opacity:0;
	-webkit-transition:all 0.35s ease;
	   -moz-transition:all 0.35s ease;
			transition:all 0.35s ease;
}

.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-grow {
	-webkit-transform:scale(0.8);
	   -moz-transform:scale(0.8);
			transform:scale(0.8);
}

.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-left {
	left:-30px;
}

.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-right {
	left:30px;
}

.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-bottom {
	top:30px;
}

.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-top {
	top:-30px;
}

.csstransitions.csstransforms.no-touch .animation[class*="animation-"].active {
	left:0;
	top:0;
	opacity:1;
	-webkit-transform:scale(1);
	   -moz-transform:scale(1);
			transform:scale(1);
}

/*************************
    - 3. Loader -
*************************/
.page-loader {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:99999;
	width:100%;
	height:100%;
	background-color:#000;
}

.loader-middle {
 	position:absolute;
  	top:50%;
  	left:50%;
  	transform:translate(-50%, -50%);
}

.loader-circle {
    border:3px solid #333;
    border-radius:50%;
    border-top:3px solid #f5f5f5;
    width:80px;
    height:80px;
    -webkit-animation:spin 1s linear infinite;
	   -moz-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
}

@keyframes spin {
	0% {
		-webkit-transform:rotate(0deg);
		   -moz-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	
	100% {
		-webkit-transform:rotate(360deg);
		   -moz-transform:rotate(360deg);
				transform:rotate(360deg);
	}
}

/**********************
    - 4. Sections -
**********************/
section {
	position:relative;
	background:#fff;
}

section .container {
	padding-top:100px;
	padding-bottom:100px;
}

section.bg-grey {
	background-color:#fafafa;
}

section.bg-dark {
	background-color:#1f1f1f;
}

/* Section title */
.section-title h2 {
	position:relative;
	clear:both;
	display:inline-block;
	margin-bottom:20px;
	font-size:38px;
	line-height:38px;
	font-weight:700;
	text-transform:none;
}

.section-title h2:before {
	content:attr(data-bigletter);
	position:absolute;
	font-size:2em;
	opacity:.06;
	top:-0.17em;
	left:0;
	right:0;
	margin:auto;
	text-transform:uppercase;
}

.section-title h2 > strong {
	font-weight:700;
}

.section-title hr {
	width:40px;
	margin:0 0 20px;
	border-color:#000;
  	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
  			transition:all .3s;
}

.section-title.text-center hr {
	margin:0 auto 20px;
}

.section-title:hover hr {
  	width:60px;
}

.section-title p {
	font-size:18px;
	color:#999;
	margin-bottom:70px;
}

/* White section title */
.section-title.white h2 {
	color:#fff;
}

.section-title.white p {
	color:#fff;
	opacity:0.9;
}

.section-title.white hr {
	border-color:#fff;
}

/* Page title */
.page-title {
	height:450px;
}

.page-title.parallax {
	height:550px;
	margin-top:0;
}

/* Section close icon */
section .section-title .icon.close {
    position:relative;
    cursor:pointer;
	margin-bottom:20px;
    opacity:0.3;
    -webkit-transition:opacity .3s;
       -moz-transition:opacity .3s;
    		transition:opacity .3s;
}

section .section-title .icon.close:hover {
	opacity:1;
}

section .section-title .icon.close i {
	color:#000;
	font-size:20px;
	line-height:20px;
}

.icon.large i {
	font-size:50px;
}

.icon.largest i {
	font-size:130px;
}

/* Check list */
ul.check-list {
	list-style:none;
	padding:0;
	margin:0;
}

ul.check-list > li {
	font-size:16px;
	padding:5px 0;
}

ul.check-list > li > i {
	margin-right:10px;
}

/* Section background */
section.parallax, 
section.video {
	position:relative;
	z-index:1;
	overflow:hidden;
	color:#fff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center top !important;
	background-size:cover;
}

section.parallax .parallax-overlay, 
section.video .parallax-overlay, 
section.parallax .video-overlay, 
section.video .video-overlay {
	position:absolute;
	background-color:rgba(0, 0, 0, 0.4);
	width:100%;
	height:100%;
	left:0;
	top:0;
}

section.parallax .video-control, 
section.video .video-control {
	width:70px;
	margin:0 auto;
	cursor:pointer !important;
}

section.parallax .video-control i, 
section.video .video-control i {
	cursor:pointer !important;
	font-size:18px;
	line-height:64px;
	width:70px;
	border:3px solid #fff;
	border-radius:50%;
	-moz-backface-visibility:hidden;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

section.parallax .video-control i.fa-play, 
section.video .video-control i.fa-play {
	text-indent:4px;
}

section.parallax .video-control:hover i, 
section.video .video-control:hover i {
	background-color:#fff;
	-webkit-transform:scale(1.12);
	   -moz-transform:scale(1.12);
			transform:scale(1.12);
}

section.parallax header, 	section.video header, 	section.bg-dark header, 
section.parallax i, 		section.video i, 		section.bg-dark i, 
section.parallax h1, 		section.video h1, 		section.bg-dark h1, 
section.parallax .h1, 		section.video .h1, 		section.bg-dark .h1, 
section.parallax h2, 		section.video h2, 		section.bg-dark h2, 
section.parallax .h2, 		section.video .h2, 		section.bg-dark .h2, 
section.parallax h3, 		section.video h3, 		section.bg-dark h3, 
section.parallax .h3, 		section.video .h3, 		section.bg-dark .h3, 
section.parallax h4, 		section.video h4, 		section.bg-dark h4, 
section.parallax .h4, 		section.video .h4, 		section.bg-dark .h4, 
section.parallax h5, 		section.video h5, 		section.bg-dark h5, 
section.parallax .h5, 		section.video .h5, 		section.bg-dark .h5, 
section.parallax h6, 		section.video h6, 		section.bg-dark h6, 
section.parallax .h6, 		section.video .h6, 		section.bg-dark .h6 {
	color:#fff;
}

section.parallax a:hover, section.video a:hover, 
section.parallax a:focus, section.video a:focus {
	text-decoration:none;
}

section.parallax i, section.video i {
	cursor:default;
}

section.parallax a i, section.video a i {
	cursor:pointer;
}

section.video .video-responsive {
	top:-40px;
}

section.video .video-container {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:2;
}

/************************
    - 5. Navigation -
************************/
.navbar {
	position:absolute;
	z-index:9999;
	width:100%;
	height:auto;
	min-height:0;
	padding:30px 0;
	margin-bottom:0;
	border-radius:0;
	border:0;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	font-family:"Poppins", sans-serif;
	-webkit-backface-visibility:hidden;
}

.navbar .navbar-header {
	height:25px;	
}

.navbar .navbar-nav {
	margin-left:0;
	margin-right:0;
}

.navbar .navbar-nav > li a {
	cursor:pointer;
	color:#fff;
	-webkit-transition:all 0.15s ease;
	   -moz-transition:all 0.15s ease;
			transition:all 0.15s ease;
}

.navbar .navbar-nav > li:last-child > a {
	padding-right:0;
}

.navbar .navbar-nav > li a:hover, 
.navbar .navbar-nav > li a:focus {
	background:none;
}

.navbar .navbar-nav > li > a {
	font-size:13px;
	font-weight:600;
	letter-spacing:.5px;
	padding-top:0;
	padding-bottom:0;
	background-color:transparent !important;	
}

.navbar .navbar-brand {
	padding-top:0;
	padding-bottom:0;	
	height:auto;
	line-height:1;
	position:relative;
}

.navbar .navbar-brand img {
	position:absolute;
}

.navbar .navbar-brand img.logo-white {
	display:block;
}

.navbar .navbar-brand img.logo-dark {
	display:none;
}

.navbar .navbar-collapse {
	padding-left:0;
	padding-right:0;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}

.navbar .navbar-collapse.collapse.in, 
.navbar .navbar-collapse.collapsing {
	background:#fff;
	margin-top:20px;
	position:absolute;
	width:100%;
	z-index:100;
}

.navbar .navbar-collapse.collapse.in .navbar-nav > li a, 
.navbar .navbar-collapse.collapsing .navbar-nav > li a {
	padding-top:1%;
	padding-bottom:1%;
	color:#282828;
}

.navbar .navbar-toggle {
	background:transparent;
	padding:0;
	margin-top:3px;
	margin-bottom:0;
}

.navbar .navbar-toggle .icon-bar {
	height:3px;
	border-radius:1px;
	background-color:#fff;
	-webkit-transition:all 0.1s ease-in;
	   -moz-transition:all 0.1s ease-in;
			transition:all 0.1s ease-in;
}

.navbar .navbar-nav > li > .dropdown-menu {
	top:40px;
	border-radius:3px;
	border:none;
	background-color:#fff;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}

.navbar .navbar-nav > li > .dropdown-menu > li a {
	padding-top:10px;
	padding-bottom:10px;
	color:#282828;
	font-size:14px;
	text-transform:none;
	background-color:transparent !important;
}

/* Social icons */
.navbar .navbar-social {
	position:relative;
	float:right;
	line-height:1;
	margin-left:40px;
}

.navbar .navbar-social a > i {
	padding:0 10px;
	color:#fff;
	-webkit-transition:all 0.15s ease;
	   -moz-transition:all 0.15s ease;
			transition:all 0.15s ease;	
}

.navbar .navbar-social a:last-child > i {
	padding-right:0;
}

/* White navbar */
.navbar.floating {
	position:fixed;
	display:block;
	padding:20px 0;
	background-color:#fff;
	-webkit-box-shadow:5px 5px 15px 0 rgba(31, 31, 31, 0.07);
	   -moz-box-shadow:5px 5px 15px 0 rgba(31, 31, 31, 0.07);
			box-shadow:5px 5px 15px 0 rgba(31, 31, 31, 0.07);
}

.navbar.floating .navbar-brand img.logo-white {
	display:none;
}

.navbar.floating .navbar-brand img.logo-dark {
	display:block;
}

.navbar.floating .nav > li a,
.navbar.floating .navbar-social a > i {
	color:#282828;
}

.navbar.floating .navbar-toggle .icon-bar {
	background-color:#282828;
}

.navbar.floating .navbar-nav > li > .dropdown-menu {
	border-radius:0 0 3px 3px;
	top:45px;
}

/* Fixed top  */
.navbar.fixed-top {
	position:absolute !important;
}

/* Animation */
.navbar.slide-down {
  	-webkit-animation-name:navSlideDown;
  			animation-name:navSlideDown;
	animation-duration:1s;
}

@keyframes navSlideDown {
  	from {
		-webkit-transform:translate3d(0, -100%, 0);
    		transform:translate3d(0, -100%, 0);
		visibility:visible;
  	}

  	to {
    	-webkit-transform:translate3d(0, 0, 0);
    			transform:translate3d(0, 0, 0);
  	}
}

/********************
    - 6. Slider -
********************/
.slider {
	width:100%;
	height:700px;
	position:absolute;
	z-index:-1;
	background-color:black;
}

.slider.fullscreen {
	height:100%;
}

.slider .image {
	position:absolute;
	width:inherit;
	height:inherit;
	background-attachment:scroll;
	background-position:center center;
	background-size:cover;
	background-color:#000;
	-webkit-transition:opacity 1s ease;
	   -moz-transition:opacity 1s ease;
			transition:opacity 1s ease;
}

/*******************
    - 7. Intro -
*******************/
.intro {
	position:relative;
	height:100%;
	color:#fff;
	background:none;
}

.intro .container {
	padding-top:0;
	padding-bottom:0;
}

.intro a, .intro p, 
.intro h1, .intro .h1, 
.intro h2, .intro .h2, 
.intro h3, .intro .h3, 
.intro h4, .intro .h4, 
.intro h5, .intro .h5, 
.intro h6, .intro .h6 {
	color:#fff;
}

.intro .images-list {
	display:none;
}

.intro .content {
	color:#fff;
}

.intro .content i {
	color:inherit;
	font-size:18px;
	padding:0 5px;
}

.intro .content header {
	color:#fff;
	text-align:center;
}

.intro .content header h1, 
.intro .content header .h1,
.intro .content header h2,
.intro .content header .h2 {
	font-weight:700;
	line-height:1;
}

.intro .content .icon.close i {
	font-size:22px;
	cursor:pointer;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.intro .content .icon.close i:hover {
	opacity:1;
}

.intro .content .video-control {
	width:70px;
	margin:0 auto 30px;
	cursor:pointer;
}

.intro .content .video-control i {
	font-size:18px;
	line-height:64px;
	width:70px;
	border:3px solid #fff;
	border-radius:50%;
	-moz-backface-visibility:hidden;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.intro .content .video-control i.fa-play {
	text-indent:4px;
}

.intro .content .video-control:hover i {
	background-color:#fff;
	color:#282828;
	-webkit-transform:scale(1.12);
	   -moz-transform:scale(1.12);
			transform:scale(1.12);
}

.intro .content .video-container {
	margin-top:10px;
	display:inline-block;
	width:47.86324786324786%;
	min-width:150px;
	padding:4px;
	background-color:#fff;
	border-radius:3px;
	line-height:0;
}

.intro .btn.btn-link {
	color:#fff !important;
	opacity:.8;
}

.intro .btn.btn-link:hover {
	opacity:1;
}

/* Animation */
.intro .animate {
	visibility:hidden;
}

/* Magic mouse */
.intro .mouse {
	position:absolute;
	width:26px;
	height:40px;
	border:1px solid #fff;
	border-radius:13px;
	background:transparent;
	bottom:30px;
	margin:0 auto;
	left:0;
	right:0;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.intro .mouse a {
	display:block;
	width:26px;
	height:40px;
}

.intro .mouse .wheel {
	position:absolute;
	display:block;
	width:8px;
	height:8px;
	background:#fff;
	border-radius:50%;
	margin-left:auto;
	margin-right:auto;
	top:6px;
	left:0;
	right:0;
	-webkit-animation:magic-mouse 1.7s infinite ease;
	   -moz-animation:magic-mouse 1.7s infinite ease;
			animation:magic-mouse 1.7s infinite ease;
}

@keyframes magic-mouse {
 	0% {
 		top:6px;
 		opacity:0;
	}
	
 	30% {
 		opacity:1;
	}
	
 	100% {
 		top:18px;
 		opacity:0;
	}
}

/********************
    - 8. Arrows -
********************/
.arrows {
	font-size:0;
	margin-top:35px;
}

.arrows .arrow {
	line-height:1;
	font-size:14px;
	cursor:pointer;
	display:inline-block;
	position:relative;
	color:#fff !important;
}

.arrows .arrow.left {
	margin-right:12px;
}

.arrows .arrow i {
	padding:5px;
	color:inherit;
	-webkit-transition:all 0.3s ease;
	   -moz-transition:all 0.3s ease;
			transition:all 0.3s ease;
}

/* Intro arrows */
.intro-arrow {
	position:absolute;
	left:0;
	width:50px;
	height:50px;
	line-height:50px;
	margin-top:-50px;
	font-size:30px;
	cursor:pointer;
	color:#fff;
	text-decoration:none;
	border:1px solid rgba(255, 255, 255, 0.7) !important;
	border-left:0 !important;
	overflow:hidden;
	-webkit-transition:all 0.3s ease;
	   -moz-transition:all 0.3s ease;
			transition:all 0.3s ease;
}

.intro-arrow:hover {
	text-decoration:none;
}

.intro-arrow.left {
	top:50%;
}

.intro-arrow.right {
	border-top:0 !important;
	top:calc(50% + 50px);
}

.intro-arrow > .icon {
	position:relative;
	z-index:2;
	padding:3px 10px 0 10px;
	text-decoration:none;
}

.intro-arrow:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:50px;
	z-index:1;
	background-color:#fff;
	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
			transition:all .3s;
}

.intro-arrow:hover:before {
	width:50px;
}

.intro-arrow.left,
.intro-arrow.left:before {
	border-top-right-radius:3px;
}

.intro-arrow.right,
.intro-arrow.right:before {
	border-bottom-right-radius:3px;
}

/**********************
    - 9. Features -
**********************/
.feature-single {
	position:relative;
	text-align:center;	
}

.feature-single .icon {
    display:inline-block;
    font-size:52px;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.feature-single h3 {
	font-size:18px;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.feature-single p {
	color:#666;
}

.feature-single > p:last-child {
	margin-bottom:0;
}

/* Parallax */
section.parallax .feature-single .icon {
	color:#fff;
}

section.parallax .feature-single h3 {
	font-size:16px;
}

/**********************
    - 10. Clients -
**********************/
.clients-slider {
	position:relative;
	width:100%;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
}

.clients-slider .client {
	position:relative;
	overflow:hidden;
	text-align:center;
}

.clients-slider .client img {
	display:block;
	width:80px !important;	
	margin:0 auto;
	text-align:center;
	opacity:0.7;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.clients-slider .client img:hover {
	opacity:1;
}

/**********************
    - 11. Buttons -
**********************/
.btn {
	border-radius:3px;
	padding:18px 30px;
	line-height:1;
	font-weight:700;
	border-width:0;
	-webkit-transition:all 0.1s ease-in;
	   -moz-transition:all 0.1s ease-in;
			transition:all 0.1s ease-in;
}

.btn > i {
	color:inherit;
	padding-right:5px;
}

.btn.btn-default {
	color:#fff;
}

.btn.btn-link {
	text-decoration:none !important;
}

.btn.btn-inverse {
	background-color:transparent !important;
	border:2px solid;
	padding:16px 28px;
}

.btn.btn-inverse:hover, 
.btn.btn-inverse:focus {
	background-color:transparent;
}

.btn.btn-rounded {
	border-radius:30px;
}

.btn.btn-small {
	padding:13px 20px 14px;
}

.btn.btn-small > i {
	font-size:12px;
	padding-right:3px;
}

.btn.btn-small.btn-inverse {
	padding:11px 18px 12px;
}

.btn.btn-white {
	color:#fff !important;
}

.btn.btn-white.btn-inverse {
	border-color:rgba(255, 255, 255, 0.6);
}

.btn.btn-white.btn-inverse:hover {
	border-color:rgba(255, 255, 255, 0.8);
}

.btn[disabled] {
	opacity:1;
}

/********************************
    - 12. Inputs, Textareas -
********************************/
input, textarea {
	line-height:1;
	padding:14px 18px;
	color:#a6a6a6;
	border-radius:3px;
	border:2px solid #eee;
	background-color:#fff;
	-webkit-transition:border-color 0.15s ease-in;
	   -moz-transition:border-color 0.15s ease-in;
			transition:border-color 0.15s ease-in;
}

input[disabled], textarea[disabled] {
	background-color:#fff;
	border-color:#f1f1f1;
	color:#a6a6a6;
}

textarea {
	line-height:1.5;
}

/*** Videos ***/
.video-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.video-responsive iframe, 
.video-responsive object, 
.video-responsive embed {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	z-index:0;
}

iframe {
	border:0;
}

/************************
    - 13. Portfolio -
************************/
.portfolio {
	overflow:hidden;
}

.portfolio .container {
	padding-bottom:30px;
}

/* Filter */
.portfolio-filters span {
	display:inline-block;
	padding:3px 20px;
	font-weight:600;
	color:#282828;
	border-radius:50px;
	border:1px solid transparent;
	transition:all 0.3s;
	cursor:pointer;
}

/* Items */
.portfolio-item {
	position:relative;
	overflow:hidden;
}

.portfolio-item a {
	z-index:3;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.portfolio-item img {
	width:100%;
	height:100%;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.portfolio-item:hover img {
	-webkit-transform:scale(1.12);
	   -moz-transform:scale(1.12);
			transform:scale(1.12);
}

.portfolio-item .overlay-info {
	text-align:center;
}

.portfolio-item h6 {
	position:relative;
	margin-bottom:5px;
	transform:translateY(-15px);
	transition:all .5s;
}

.portfolio-item:hover h6 {
	transform:translateY(0);
}

/* Overlay */
.portfolio-item .img-overlay {
	position:absolute;
	z-index:2;	
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	opacity:0;
	color:#666;
	background:rgba(255, 255, 255, 0.95);
	-webkit-transform:translateY(10px);
	   -moz-transform:translateY(10px);
			transform:translateY(10px);
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.portfolio-item:hover .img-overlay {
	opacity:1;
	transform:translateY(0);
}

/* Loading */
.portfolio-item .loading {
	z-index:4;
	position:absolute;
	width:0;
	height:3px;
	top:0;
	left:0;
}

/* Details */
#portfolio-details {
	display:none;
	border-bottom:1px solid #f1f1f1;
}

#portfolio-details .section-title p {
	margin-bottom:20px;
}

#portfolio-details h4 {
	margin-bottom:20px;
}

/***********************
    - 14. Info box -
***********************/
.info-box .container {
	padding-top:50px;
	padding-bottom:50px;
}

.info-box h1, .info-box .h1, 
.info-box h2, .info-box .h2, 
.info-box h3, .info-box .h3, 
.info-box h4, .info-box .h4, 
.info-box h5, .info-box .h5, 
.info-box h6, .info-box .h6 {
	line-height:50px;
	font-weight:400;
	margin:0;
}

.info-box input[type="email"], 
.info-box input[type="text"] {
	font-family:"Poppins", sans-serif;
	font-size:24px;
	color:#282828;
	line-height:1;
	padding:0;
	width:100%;
	border:0;
	background-color:transparent;
	margin-top:0.5em;
	font-weight:500;
}

.info-box ::-webkit-input-placeholder {
 	opacity:1;
 	color:#282828;
}

.info-box ::-moz-placeholder {
 	opacity:1;
 	color:#282828;
}

.info-box ::-ms-input-placeholder {
 	opacity:1;
 	color:#282828;
}

/***********************
    - 15. Our team -
***********************/
.team-member {
    position:relative;
    background-color:#fff;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

[class^="col-"]:last-child .team-member {
	margin-bottom:0 !important;
}

/* Image */
.team-member .team-image {
	position:relative;
	background-color:#fff;
	border-radius:3px;
	overflow:hidden;
}

.team-member .team-image img {
    width:100%;	
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.team-member:hover .team-image img {
	-webkit-transform:scale(1.12);
	   -moz-transform:scale(1.12);
			transform:scale(1.12);
}

/* Details */
.team-member .team-details {
    position:relative;
    width:100%;
	margin-top:20px;
    text-align:center;
    -webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.team-member .team-details .title {
    font-size:16px;
    font-weight:600;
	margin:0;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.team-member .team-details p {
    padding:0;
	margin:0;
}

.team-member .team-details .position {
    color:#666;
}

/* Social */
.team-member .team-social {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	border-radius:3px;
	text-align:center;
	opacity:0;
	transform:translateY(10px);
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.team-member:hover .team-social {
    opacity:1;
	transform:translateY(0);
}

.team-member .team-social-inner {
	position:absolute;
	top:50%;
	width:100%;
	transform:translateY(-50%);
}

.team-member .team-social-inner > a {
   	display:inline-block;
	text-align:center;
	font-size:16px;
	line-height:16px;
	margin:0 12px;
	color:#fff;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

/**********************
    - 16. Contact -
**********************/
/* Contact info */
.contact-info h3 {
	margin:0 0 30px 0;
}

.contact-content {
	clear:both;
	padding:25px 0;
	border-bottom:1px solid #eee;
}

.contact-info > .contact-content:last-child {
	border-bottom:0;
}

.contact-content > .icon {
	position:relative;
	display:block;
	float:left;
	font-size:40px;
	line-height:40px;
	font-weight:normal;
	margin-right:20px;
	text-align:center;
	cursor:default;
}

.contact-content > .contact-text {
	position:relative;
	display:block;
	float:left;
	width:calc(100% - 60px);
}

.contact-content > .contact-text > h4 {
	margin:0;
	font-size:18px;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.contact-content > .contact-text > p {
	margin:0;
}

/* Contact form */
.contact-form .field {
	width:98.24561403508772%;
	margin-bottom:20px;
	position:relative;
}

.contact-form .field:last-child {
	margin-bottom:40px;
}

.contact-form .field input, .contact-form .field textarea {
	width:100%;
}

.contact-form .field textarea {
	height:110px;
}

.contact-form .field .error {
	display:none;
	position:absolute;
	top:17px;
	right:15px;
	line-height:1;
	cursor:default;
}

.contact-form .field .error i {
	font-size:14px;
	cursor:inherit;
	color:#a6a6a6;
}

.contact-form-result {
	display:none;
}

.contact-form-result h3 {
	margin:0 0 20px 0 !important;
}

.contact-form h5 {
	margin-top:0;
}

/**************************
    - 17. Google maps -
**************************/
.map {
	position:relative;
	overflow:hidden;
}

.map #google-map {
	height:450px;
}

.map #map-info {
	display:none;
}

#zoom-in, #zoom-out {
  	height:32px;
  	width:32px;
  	cursor:pointer;
  	margin-left:40px;
  	background-repeat:no-repeat;
  	background-size:32px 64px;
  	background-image:url("images/map-controller.svg");
  	-webkit-transition:all 0.5s ease;
  	   -moz-transition:all 0.5s ease;
  			transition:all 0.5s ease;
}

#zoom-in {
  	background-position:50% 0;
  	margin-top:100px;
  	margin-bottom:1px;
}

#zoom-out {
  	background-position:50% -32px;
}

/*********************
    - 18. Footer -
*********************/
footer {
	position:relative;
	clear:both;
	z-index:10;
	font-family:"Poppins", sans-serif;
	color:#b0b0b0;
}

/* Widgets */
footer .footer-widgets {
	position:relative;
	clear:both;
	background:#222;
	padding-top:60px;
	padding-bottom:60px;
	background-image:url("../images/footer/dotted-map.png");
  	background-size:contain;
}

footer .footer-widgets h5 {
	color:#fff;
	margin-bottom:20px;
}

footer .footer-widgets a {
	color:#b0b0b0;
}

footer .footer-widgets .footer-menu {
	list-style:none;
	margin:0;
	padding:0;
}

footer .footer-widgets .tags {
	margin-top:16px;
}

footer .footer-widgets .tags .tag {
	border:1px solid #b0b0b0;
}

/* To top */
footer .to-top {
	position:absolute;
	display:block;
	z-index:10;
	left:0;
	right:0;
	top:-25px;
	width:50px;
	height:50px;
	margin:0 auto;
	border-radius:50%;
	color:#fff;
	font-size:18px;
	line-height:46px;
	text-align:center;
	cursor:pointer !important;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

footer .to-top:hover {
	color:#fff;
}

footer .to-top i {
	color:#fff;
}

/* Social */
.footer-social {
	cursor:default;
	line-height:1;
}

.footer-social a {	
	margin:0 10px;
}

.footer-social a > i {
	font-size:16px;
	line-height:16px;
	color:#fff;
	width:1.2em;
	text-align:center;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

/* Copyright */
footer .footer-copyright {
	position:relative;
	clear:both;
	background:#1a1a1a;
	padding-top:30px;
	padding-bottom:30px;
}

footer .copyright {
	clear:both;
	margin:0;
	line-height:16px;
	letter-spacing:.5px;
	text-align:right;
}

footer .copyright a {
	color:#fff;
	font-family:"Poppins", sans-serif;
	font-weight:600;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

/*********************
    - 19. Tables -
*********************/
.table-bordered, 
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	border-color:#f1f1f1 !important;
}

/****************************
    - 20. Images slider -
****************************/
.image-slider div {
	display:none;
}

.image-slider div.arrows {
	display:block;
}

.image-slider div:first-child {
	display:block;
}

.image-slider .arrows {
	position:absolute;
	margin-top:0;
	margin-left:0;
	bottom:5px;
	right:27px;
	z-index:999;
}

.image-slider .arrows.large {
	left:0;
	right:0;
	bottom:auto;
	top:50%;
	margin-top:-0.5em;
	margin-right:0 !important;
}

.image-slider .arrows.large .arrow {
	position:absolute;
	display:block;
}

.image-slider .arrows.large .arrow i {
	opacity:.2;
	color:#282828 !important;
	font-size:16px;
}

.image-slider .arrows.large .arrow:hover i {
	opacity:1;
}

.image-slider .arrows.large .arrow.left {
	left:-40px;
}

.image-slider .arrows.large .arrow.right {
	right:-40px;
}

/*************************
    - 21. Blog posts -
*************************/
.blog-home .blog-col {
	position:relative;
}

[class^="col-"]:last-child .blog-home .blog-col {
	margin-bottom:0 !important;
}

.blog-home .blog-wrapper {
	clear:both;
	padding:40px;
	background:#fff;
	border-radius:0 0 3px 3px;
}

.blog-home .blog-col > p {
	margin-bottom:0 !important;
}

.blog-home .blog-col > p > a {
	display:block;
	background:#fff;
	border-radius:3px 3px 0 0;
	overflow:hidden;
}

.blog-home .blog-img {
	width:100%;
	opacity:1;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.blog-home .blog-img:hover {
	opacity:0.6;
	-webkit-transform:scale(1.12);
	   -moz-transform:scale(1.12);
			transform:scale(1.12);
}

.blog-home .blog-category {
	position:absolute;
	display:block;
	right:0;
	top:20px;
	color:#fff;
	padding:10px 15px;
	font-size:11px;
	line-height:11px;
	font-weight:600;
	border-radius:3px 0 0 3px;
	text-transform:uppercase;
}

.blog-home .blog-text h4 {
	margin:0 0 20px;
}

.blog-home .blog-text p:last-child {
	margin-bottom:0;
}

/* About */
.blog-about {
	clear:both;
	padding:0 0 20px 0;
	margin:0;
	color:#999;
	font-size:12px;
	font-weight:600;
}

.blog-about > i {
	font-size:15px;
	margin-right:3px;
}

.blog-about > span {
	font-weight:400;
}

section.parallax .blog-about,
section.parallax .blog-about a {
	color:#fff;
}

/* Read more button */
.btn-read-more {
	clear:both;
	display:block;
	margin-top:20px;
	padding:0;
	font-size:12px;
	font-weight:600;
}

.btn-read-more:hover {
	color:#444;
}

/* Blog post */
.blog-title {
	font-size:48px;
	line-height:48px;
	font-weight:700;
	margin:0;
}

.blog-info {
	margin-top:20px;
	margin-bottom:0;
}

.blog article:first-child header > h3 {
	margin-top:0;
}

.blog-post {
	margin-bottom:40px;
}

.comments header h3, 
.comment-form header h3 {
	margin:40px 0;
}

.blog-post header .info {
	color:#999;
	font-size:12px;
	font-weight:600;
}

.blog-post header .info span::after {
	content:'â€¢';
	display:inline-block;
	padding:0 4px 0 7px;
}

.blog-post header .info span:last-child::after {
	content:'';
}

.blog-post header + p {
	margin-top:20px;
}

.blog-post header + img, 
.blog-post header + img + p, 
.blog-post header + .video-responsive, 
.blog-post header + .video-responsive + p, 
.blog-post header + .image-slider, 
.blog-post header + .image-slider + p,
.blog-post .image-slider + p {
	margin-top:20px;
}

.blog-post .image-slider div {
	padding:0 !important;
}

.blog-post .image-slider .arrows {
	right:12px;
}

.blog-post .btn {
	margin-top:20px;
	padding:16px 28px;
}

/*** Masonry blog ***/
.blog-masonry.blog-masonry-four header h3 {
	font-size:18px;
}

.blog-masonry .blog-post.masonry {
	padding-left:25px;
	padding-right:25px;
	background-color:#fff;
}

.blog-masonry .btn {
	padding:14px 24px;
}

/* Blog post share panel */
.blog-post .share-panel {
	margin:20px 0 0 0 !important;
}

/* Post footer */
.post-footer {
	margin:40px 0;
}

.post-footer .share-panel {
	margin:0;
}

/* Tags */
.post-tags {
	clear:both;
	text-align:center;
	margin-bottom:20px;
}

.post-tags a {
	position:relative;
	display:inline-block;
	margin:0 10px;
	font-size:13px;
	letter-spacing:1px;
	text-transform:uppercase;
	transition:all 0.3s;
}

.post-tags a:hover {
	color:#444;
}

.post-tags a:after {
	content:"";
	display:block;
	width:5px;
	height:5px;
	background:#efefef;
	clear:both;
	margin:5px auto;
	border-radius:50%;
}

/* Previous/Next posts */
.nav-links {
	clear:both;
	font-size:16px;
	overflow:hidden;
}

.comment-navigation .nav-previous, 
.posts-navigation .nav-previous, 
.post-navigation .nav-previous {
	float:left;
	width:50%;
	text-align:left;
}

.comment-navigation .nav-next, 
.posts-navigation .nav-next, 
.post-navigation .nav-next {
	float:right;
	width:50%;
	text-align:right;
}

.nav-links span {
	display:block;
    color:#999;
    font-weight:600;
    font-size:13px;
    letter-spacing:1px;
}

/* About author */
.about-author {
	margin-top:20px;
}

.about-author .avatar {
	display:inline-block;
	margin-right:10px;
}

.about-author .avatar img {
	width:40px;
}

.about-author .description {
	display:inline-block;
	color:#999;
	font-size:12px;
	font-weight:600;
	margin-top:0;
}

.about-author .description > span {
	font-weight:400;
}

section.parallax .about-author .description,
section.parallax .about-author a {
	color:#fff;
}

/***********************
    - 22. Sidebars -
***********************/
.sidebar {
	padding-left:20px;
	margin-bottom:40px;
}

.sidebar header {
	margin-bottom:30px;
}

.sidebar ul.menu {
	list-style:none;
	padding:0;
	margin:0;
}

.sidebar ul.menu li {
	border-bottom:1px solid #f1f1f1;
	padding:8px 10px;
}

.sidebar ul.menu li a {
	color:inherit;
	text-decoration:none !important;
	-webkit-transition:color 0.15s ease;
	   -moz-transition:color 0.15s ease;
			transition:color 0.15s ease;
}

.sidebar ul.links {
	list-style:none;
	padding:0;
	margin:0;
}

.sidebar ul.links li {
	padding:4px 0;
}

.sidebar ul.links li a {
	color:inherit;
	text-decoration:none !important;
	-webkit-transition:color 0.15s ease;
	   -moz-transition:color 0.15s ease;
			transition:color 0.15s ease;
}

/* Title */
.sidebar header h4 {
	position:relative;
	text-align:center;
	background:#f6f6f6;
	color:#444;
	font-size:20px;
	line-height:20px;
	font-weight:500;
	padding:12px;
	border-radius:3px;
}

.sidebar header h4:after {
	content:'';
	position:absolute;
	top:100%;
	left:50%;
	width:0;
	height:0;
	margin-left:-8px;
	border:8px solid transparent;
	border-top-color:#f6f6f6;
}

/* Search form */
.sidebar .search-form {
	position:relative;
}

.sidebar .search-form input[type="text"] {
	width:100%;
	height:40px;
	padding:0 16px;
	margin:0 5px 0 0;
}

.sidebar .search-form .btn {
	position:absolute;
	top:0;
	right:0;
	padding:14px 22px 12px;
	display:inline-block;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

/* Tag cloud */
.tags {
	overflow:hidden;
}

.tags .tag {
	display:block;
	float:left;
	margin-right:8px;
	margin-bottom:8px;
	padding:2px 10px;
	font-size:13px;
	text-decoration:none;
	border-radius:3px;
	border:1px solid #eee;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

/* Sticker */
.sticker {
	display:inline-block;
	text-transform:uppercase;
	font-size:11px;
	color:#fff;
	background-color:#282828;
	border-radius:3px;
	line-height:1.8;
	padding:0 7px;
	vertical-align:middle;
	text-align:center;
	text-shadow:0 1px rgba(0, 0, 0, 0.1);
	margin:-2px 3px 0 5px;
	cursor:default;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.sticker:hover {
	background-color:#424242;
}

/* Author */
.author-content {
	text-align:center;
	padding-top:10px;
}

.author-content img {
	border-radius:50%;
}

.author-content h5 {
	font-size:18px;
	font-weight:700;
	margin-top:20px;
	text-transform:none;
}

.author-content p {
	margin:20px 0;
}

.author-social {
	margin:0 !important;
}

/* Recent posts */
.recent-post {
    padding:14px 0 6px;
}

.recent-post-image {
    width:24%;
    display:table-cell;
	padding-top:8px;
}

.recent-post-image img {
    border-radius:2px;
}

.recent-post-info {
    width:75%;
    display:table-cell;
    padding-left:12px;
    vertical-align:middle;
}

.recent-post-info h4 {
	font-size:16px;
	margin:3px 0;
}

.recent-post-categories {
	color:#999;
	font-size:12px;
}

.recent-post-categories a:hover {
	text-decoration:underline;
}

.recent-post-info p {
	color:#666;
	font-size:12px;
	margin:0;
}

/* Instagram feed */
.instagram-feed {
	margin-left:-3px;
	margin-right:-3px;
	margin-bottom:-6px;
}

.instagram-feed div {
	padding:0 3px 6px 3px;
}

.instagram-feed img {
	width:100%;
	border-radius:3px;
}

/*************************
    - 23. Pagination -
*************************/
.pages-navigation a {
	font-size:16px;
	color:#282828;
	border:none;
	border-radius:0;
	background-color:transparent !important;
	padding:0;
	opacity:1;
	text-decoration:none !important;
	font-weight:500;
	-webkit-transition:color 0.15s ease;
	   -moz-transition:color 0.15s ease;
			transition:color 0.15s ease;
}

/***************************
    - 24. Comment form -
***************************/
.comment-form .field {
	margin-bottom:20px;
}

.comment-form .field input {
	width:99.4%;
}

.comment-form .field textarea {
	height:130px;
	width:100%;
}

/***********************
    - 25. Comments -
***********************/
.user-comment {
	margin-bottom:40px;
}

.user-comment .image {
	float:left;
	width:80px;
	margin-right:30px;
	margin-top:5px;
}

.user-comment .details {
	margin-left:110px;
}

.user-comment .details .info {
	width:100%;
	margin-bottom:10px;
	overflow:hidden;
}

.user-comment .details .info .author {
	clear:both;
	display:block;
	font-size:18px;
	font-weight:600;
	color:#282828;
}

.user-comment .details .info .date {
	clear:both;
	display:block;
	color:#999;
	font-size:12px;
	font-weight:600;
}

.user-comment .details .info .date > span {
	font-weight:400;
}

.user-comment .details .reply a {
	font-size:12px;
	font-weight:600;
}

.user-comment .details .reply a:hover {
	color:#444;
}

.user-comment .user-comment {
	margin-top:40px;
	margin-left:5%;
}

/*************************
    - 26. Error page -
*************************/
#error-page {
	position:absolute;
	top:50%;
	left:0;
	right:0;
}

/**************************
    - 27. Share panel -
**************************/
.share-panel {
	margin-bottom:70px;
	line-height:1;
	text-align:center;
}

.share-panel span {
	clear:both;
	display:block;
	margin-bottom:20px;
	color:#444;
	font-weight:600;
}

.share-panel .social {
	display:inline-block;
	cursor:default;
}

.share-panel a {
	display:inline-block;
	margin-right:10px;
	padding:5px;
}

.share-panel a:last-of-type {
	margin-right:0;
}

.share-panel a:hover i {
	color:#282828;
}

.share-panel i {
	cursor:pointer;
	font-size:16px;
	color:rgba(0, 0, 0, 0.2);
	-webkit-transition:color 0.15s ease;
	   -moz-transition:color 0.15s ease;
			transition:color 0.15s ease;
}

/****************************
    - 28. Progress bars -
****************************/
.skills, .bar {
	clear:both;
}

.progress {
	height:4px;
	margin-bottom:20px;
	background-color:#eee;
	border-radius:2px;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}

.skills > .bar:last-child > .progress {
	margin-bottom:0;
}

.progress .progress-bar {
	width:0;
	border-radius:0 2px 2px 0;
	-webkit-transition:none;
	   -moz-transition:none;
			transition:none;
}

.progress-heading {
	overflow:hidden;
	margin-bottom:5px;
}

.progress-heading .progress-title {
	float:left;
	margin:0;
	padding:0;
	color:#444;
	font-weight:600;
	text-transform:none;
}

.progress-heading .progress-value {
	text-align:right;
	font-weight:500;
}

/*****************************
    - 29. Pricing tables -
*****************************/
.price-table {
    border-radius:3px;
    text-align:center;
    width:100%;
	margin-top:20px;
	color:#444;
	background-color:#fff;
    -webkit-box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.1);
    		box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.1);    
    -webkit-transform:translateY(0);
       -moz-transform:translateY(0);
        	transform:translateY(0);
   	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

/* Title */
.price-table .price-title {
	position:relative;
    padding:30px 20px;
	margin-bottom:0;
	border-radius:3px 3px 0 0;	
	background:#f0f0f0;
   	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.price-table .price-title > h5 {
    font-size:24px;
    font-weight:700;
	margin-bottom:20px;
	text-transform:uppercase;
	color:#282828;
}

.price-table .price-title .price-rate .currency {
	font-weight:700;
    font-size:24px;
	line-height:45px;
	vertical-align:top;
}

.price-table .price-title .price-rate .currency > i {
	color:#444;
}

.price-table .price-title .price-rate .rate {
    font-weight:700;
    font-size:70px;
	line-height:70px;
}

.price-table .price-title .price-rate .time {
	clear:both;
	display:block;
	font-size:12px;
	letter-spacing:1px;
	text-transform:uppercase;
}

/* Ribbon */
.price-table .card-ribbon {
	position:absolute;
	overflow:hidden;
	top:-10px;
	left:-10px;
	width:114px;
	height:114px;
	z-index:99;
}

.price-table .card-ribbon span {
	position:absolute;
	display:block;
	width:165px;
	padding:9px 0;
	background-color:#23292c;
	box-shadow:0 5px 5px rgba(0, 0, 0, .2);
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	left:-37px;
	top:21px;
	letter-spacing:1px;
	transform:rotate(-45deg);
}

.price-table .card-ribbon:before, 
.price-table .card-ribbon:after {
	position:absolute;
	z-index:-1;
	content:'';
	display:block;
	border:5px solid #0c0c0c;
	border-top-color:transparent;
	border-left-color:transparent;
}

.price-table .card-ribbon:before {
	top:0;
	right:0;
}

.price-table .card-ribbon:after {
	bottom:0;
	left:0;
}

/* Content */
.price-table .price-content {
    padding:50px 30px;
}

.price-table .price-content ol,
.price-table .price-content ul {
    list-style:none;
    margin:0;
    padding:0;
}

.price-table .price-content ol li,
.price-table .price-content ul li {
	padding-bottom:10px;
    margin-bottom:10px;
	border-bottom:1px solid #eee;
}

.price-table .price-content ol li:last-child,
.price-table .price-content ul li:last-child {
    padding-bottom:0;
    margin-bottom:0;
	border-bottom:0;
}

/* Footer */
.price-table .price-footer {
	clear:both;    
	font-weight:700;
	letter-spacing:1px;
}

.price-table .price-footer > a {
	display:block;
	padding:12px 0;
	color:#fff;
	background:#111;
	border-radius:0 0 3px 3px;
}

/* Featured */
.price-table.featured {
	margin-top:0;
}

.price-table.featured .price-title {
	padding:40px 20px;
}

.price-table.featured .price-title,
.price-table.featured .price-title > h5 {
	color:#fff !important;
}

.price-table.featured .price-title .price-rate .currency > i {
	color:#fff !important;
}

.price-table.featured .price-content {
    padding:60px 30px;
}

/***********************
    - 30. Counters -
***********************/
.counter {
	text-align:center;
	overflow:hidden;
	color:#fff;
}

.counter .icon {
	position:relative;
	display:block;
	font-size:48px;
	line-height:48px;
	font-weight:normal;
	margin-bottom:20px;
	text-align:center;
	cursor:default;
}

.counter-content {
	border-right:1px solid rgba(255, 255, 255, 0.2);
}

[class^="col-"]:last-child .counter-content {
	border-right:0;
}

.counter-content h5 {
	font-weight:700;
	font-size:45px;
	line-height:45px;
	margin-bottom:20px;
}

.counter-content p {
	font-size:14px;
	line-height:14px;
}

/* Dark */
section.bg-dark .counter-content {
	border-right-color:#333;
}

/***************************
    - 31. Testimonials -
***************************/
.testimonial-carousel .carousel-images {
    margin-bottom:20px;
}

.testimonial-carousel .carousel-images .slick-slide img {
    cursor:pointer;
    padding:12px;
    transition:all 0.3s;
    opacity:0.5;
}

.testimonial-carousel .carousel-images .slick-slide .client-info {
    margin-top:20px;
    text-align:center;
    transition:all 0.3s;
    visibility:hidden;
    opacity:0;
}

.testimonial-carousel .carousel-images .slick-slide .client-info h3 {
    font-size:16px;
	line-height:16px;
	margin:0;
}

.testimonial-carousel .carousel-images .slick-slide .client-info span {
    display:block;
	color:#666;
	margin-top:7px;
	line-height:1;
}

.testimonial-carousel .carousel-images .slick-slide:active,
.testimonial-carousel .carousel-images .slick-slide:focus {
    outline:none;
}

.testimonial-carousel .carousel-images .slick-center img {
    padding:0;
    opacity:1;
}

.testimonial-carousel .carousel-images .slick-center .client-info {
    visibility:visible;
    opacity:1;
}

.testimonial-carousel .carousel-text .single-box {
    width:620px;
    text-align:center;
    margin:0 auto;
}

.testimonial-carousel .carousel-text .single-box p {
    font-size:25px;
    line-height:1.5em;
}

/***********************
    - 32. Services -
***********************/
.service-single {
	position:relative;
}

.service-single > .icon {
	position:relative;
	display:block;
	float:left;
	font-size:32px;
	line-height:32px;
	font-weight:normal;
	margin-right:20px;
	text-align:center;
	cursor:default;
}

.service-single > .service-text {
	position:relative;
	display:block;
	float:left;
	width:calc(100% - 52px);
}

.service-single h3 {
	font-size:18px;
	margin-top:0;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
			transition:all 0.3s;
}

.service-single p {
	color:#666;
}

.service-single > .service-text > p:last-child {
	margin-bottom:0;
}
