html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/images/team.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #F27B15;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #F27B15;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #F27B15;
    }
  }

.primary-orange {
    background-color: #F27B15 !important;
}

.complementary-orange {
    background-color: #158CF2 !important;
}

.triadic-green {
    background-color: #15F27B !important;
}

.triadic-purple {
    background-color: #7B15F2 !important;
}